body{
    margin: 20px;
    padding: 20px; 
    background: linear-gradient(to right, #285965, #cf5b5b);
}
.modeldiv1 {
    color: #bac6c9;
    border-radius: 20px 20px 20px 20px;
    background:linear-gradient( #285965, #cf5b5b);
    font-size: 20px;
    font-family: 'Arial', sans-serif;
padding: 30px;
margin: 0px auto;
box-shadow: #555554 0px 10px 20px -10px;    
width: 80%;
max-width: 600px;
transition: 0.5s;
}
.modeldiv1 :hover {
    
    box-shadow: #434342 0px 20px 40px -10px;
   transform:scale(1.05px)
}
@keyframes brilhar {
  0%, 100% { box-shadow: 0 0 5px #8ca1a2; }  50%       { box-shadow: 0 0 20px #4d49d2; }
}
@keyframes pulsar-flutuar {
  0%, 100% { transform: scale(1) translateY(0); }
  50%       { transform: scale(1.03) translateY(-8px); }
}


.modeldiv1 {
  animation: brilhar 3s ease-in-out infinite;
    animation: pulsar-flutuar 3s ease-in-out infinite;


}